<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add note</title>
</head>
<body>
    <h1>Add note</h1>
    <form action="/note/add" method="post">
        <label for="title">Title</label> <br>
        <input type="text" name = "title" id="title"> <br>
        <label for="content">Content</label> <br>
        <input type="text" name = "content" id="content"> <br><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>